html { box-sizing: border-box; font-size: 14px; }
*, *:before, *:after { box-sizing: inherit; font-size:inherit; }
body { font-family: "Helvetica Neue", "Arial", sans-serif; }
html, body {padding: 0; margin: 0; background: #333; }
p { margin: 0 0 1em; }
#menu { background: #333; padding: 0.5em; }
#mc { display: none; }
#timelines { display: none; background: #222; padding: 1.5em; margin: 0 0 1em; color: #888; }
.timeline { line-height: 1.6em; height: 1.6em; margin-bottom: 1px; transition: all .2s ease;}
.timeline.hidden { opacity: 0.25; }
.timeline.last { margin-bottom: 2em; }
.timeline .label { display: inline-block; width: 8em; overflow: hidden; cursor: pointer; }
.timeline .events { display: inline-block; position: relative; width: 900px; height: 1.6em;}
.timeline .events div { position: absolute; top: 0; text-align: center; opacity: 0.9;
  border: 1px solid #222; box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25); border-top: 0; border-bottom: 0; border-right: 0; }

.timeline .events div.tick { opacity: 1; border: 0; box-shadow: none; color: transparent; border-left: 1px solid rgba(127,127,127,0.4); }
.timeline .events.time div.tick { color: rgba(127,127,127,0.7); text-align: left; padding-left: 0.5em; font-size: 85%; }

.PATIENT_BEFORE_ARRIVAL,
.ATTENDING_WAITING_FOR_FIRST_CLINICAL_TEAM           { opacity: 0; color: rgba(0,0,0,0.0);}
.PATIENT_CHECKING_IN, .PATIENT_CHECKING_OUT,
.CLINICAL_TEAM_GROUP_HUDDLE                          { background: rgba(127,127,127,0.4); color: rgba(0,0,0,0.5); }

.PATIENT_WAITING_FOR_PREFERRED_CLINICAL_TEAM,
.CLINICAL_TEAM_WAITING_FOR_PREFERRED_ATTENDING       { background: rgba(224,192,0,0.1); box-shadow: inset 0 0 0 1px rgba(224,192,0,0.6) !important; color: rgba(224,192,0,0.5);}

.PATIENT_WAITING_FOR_ANY_CLINICAL_TEAM,
.CLINICAL_TEAM_WAITING_FOR_ANY_ATTENDING             { background: rgba(255,0,0,0.1); box-shadow: inset 0 0 0 1px rgba(255,0,0,0.6) !important; color: rgba(255,0,0,0.5); }

.PATIENT_CLINICAL_TEAM_MEETING                       { background: rgb(51,153,102); color: rgba(255,255,255,0.5);}
.CLINICAL_TEAM_ATTENDING_MEETING                     { background: rgb(51,125,135); color: rgba(255,255,255,0.5); }
.PATIENT_ATTENDING_MEETING                           { background: rgb(51,102,160); color: rgba(255,255,255,0.5); }


.PATIENT_WAITING_FOR_ATTENDING,
.CLINICAL_TEAM_WAITING_FOR_PATIENT,
.ATTENDING_WAITING_FOR_CLINICAL_TEAM                 { background: rgba(255,96,0,0.1); box-shadow: inset 0 0 0 1px rgba(255,96,0,0.6) !important; color: rgba(255,96,0,0.5); }



#mc_results .actor { display: inline-block; border: 1px solid #000; margin: 5px; padding: 5px; }

.params { }
#confirmParams { margin-bottom: 1em; }
.params table { border-collapse: collapse; width: 100%; margin-bottom: 1em; }
.params table input, .params table select, .params table span.id, .params table label { display: block; width: 100%; height: 100%; padding: 0.5em; border: 0; }
.params table input, .params table select { background: #fffaee; }
.params table td.narrow { max-width: 5em; }
.params table span.id { min-width: 6em; }
.params table button { width: 100%; padding: 0.5em; }
.params th, .params td { padding: 0.5em; border: 1px solid #ccc; }
.params td { padding: 0; }
.params td.noborder { border: none; }
.params button { margin-bottom: 1em; padding: 0.5em; }
.params table select { -webkit-appearance: button; -webkit-border-radius: 0; -webkit-user-select: none; font-size: inherit; }

/* buttons */
.btn { display: inline-block; padding: 0.5em 1em; border: 0; border-radius: 0.2em; color: #fff !important; text-decoration: none !important; text-shadow: 0 0 1px rgba(0,0,0,0.3); cursor: pointer; box-shadow: 0 0.1em 1em -0.5em rgba(0,0,0,0.5); margin: 0 0.5em 0 0; transition: all .2s ease-in-out; }
.btn:hover { opacity: 1;  transform: scale(1.05); }
.btn i.fa { margin-right: 0.25em; }
.btn-success { background: #4cae4c; }
.btn-primary { background: #2e6da4; }
.btn-warning { background: #eea236; }

textarea.json { width: 100%; height: 100%; font-family: monospace; margin-bottom: 1em; border: 1px solid #ccc; overflow: auto;}
